AV_Cliente_Soa/src/META-INF/wsdl/localhost_8080/Service_Almacen_Venta_SOA/Service_SOA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="Service_SOA">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/Service_Almacen_Venta_SOA/Service_SOA?xsd=1"/>
</xsd:schema>
</types>
<message name="listarPersonaCliente">
<part name="parameters" element="tns:listarPersonaCliente"/>
</message>
<message name="listarPersonaClienteResponse">
<part name="parameters" element="tns:listarPersonaClienteResponse"/>
</message>
<message name="listarPersonaEmpleado">
<part name="parameters" element="tns:listarPersonaEmpleado"/>
</message>
<message name="listarPersonaEmpleadoResponse">
<part name="parameters" element="tns:listarPersonaEmpleadoResponse"/>
</message>
<message name="listarPersonaProveedor">
<part name="parameters" element="tns:listarPersonaProveedor"/>
</message>
<message name="listarPersonaProveedorResponse">
<part name="parameters" element="tns:listarPersonaProveedorResponse"/>
</message>
<message name="buscarDiseno">
<part name="parameters" element="tns:buscarDiseno"/>
</message>
<message name="buscarDisenoResponse">
<part name="parameters" element="tns:buscarDisenoResponse"/>
</message>
<message name="registrarAlmacen">
<part name="parameters" element="tns:registrarAlmacen"/>
</message>
<message name="registrarAlmacenResponse">
<part name="parameters" element="tns:registrarAlmacenResponse"/>
</message>
<message name="registarColor">
<part name="parameters" element="tns:registarColor"/>
</message>
<message name="registarColorResponse">
<part name="parameters" element="tns:registarColorResponse"/>
</message>
<message name="eliminarDiseno">
<part name="parameters" element="tns:eliminarDiseno"/>
</message>
<message name="eliminarDisenoResponse">
<part name="parameters" element="tns:eliminarDisenoResponse"/>
</message>
<message name="buscarColor">
<part name="parameters" element="tns:buscarColor"/>
</message>
<message name="buscarColorResponse">
<part name="parameters" element="tns:buscarColorResponse"/>
</message>
<message name="addCosto">
<part name="parameters" element="tns:addCosto"/>
</message>
<message name="addCostoResponse">
<part name="parameters" element="tns:addCostoResponse"/>
</message>
<message name="editarAlmacen">
<part name="parameters" element="tns:editarAlmacen"/>
</message>
<message name="editarAlmacenResponse">
<part name="parameters" element="tns:editarAlmacenResponse"/>
</message>
<message name="eliminarColor">
<part name="parameters" element="tns:eliminarColor"/>
</message>
<message name="eliminarColorResponse">
<part name="parameters" element="tns:eliminarColorResponse"/>
</message>
<message name="editarDiseno">
<part name="parameters" element="tns:editarDiseno"/>
</message>
<message name="editarDisenoResponse">
<part name="parameters" element="tns:editarDisenoResponse"/>
</message>
<message name="registrarTela">
<part name="parameters" element="tns:registrarTela"/>
</message>
<message name="registrarTelaResponse">
<part name="parameters" element="tns:registrarTelaResponse"/>
</message>
<message name="eliminarMuestra">
<part name="parameters" element="tns:eliminarMuestra"/>
</message>
<message name="eliminarMuestraResponse">
<part name="parameters" element="tns:eliminarMuestraResponse"/>
</message>
<message name="eliminarTela">
<part name="parameters" element="tns:eliminarTela"/>
</message>
<message name="eliminarTelaResponse">
<part name="parameters" element="tns:eliminarTelaResponse"/>
</message>
<message name="buscarPersona">
<part name="parameters" element="tns:buscarPersona"/>
</message>
<message name="buscarPersonaResponse">
<part name="parameters" element="tns:buscarPersonaResponse"/>
</message>
<message name="registrarDiseno">
<part name="parameters" element="tns:registrarDiseno"/>
</message>
<message name="registrarDisenoResponse">
<part name="parameters" element="tns:registrarDisenoResponse"/>
</message>
<message name="editarColor">
<part name="parameters" element="tns:editarColor"/>
</message>
<message name="editarColorResponse">
<part name="parameters" element="tns:editarColorResponse"/>
</message>
<message name="eliminarAlmacen">
<part name="parameters" element="tns:eliminarAlmacen"/>
</message>
<message name="eliminarAlmacenResponse">
<part name="parameters" element="tns:eliminarAlmacenResponse"/>
</message>
<message name="listarColor">
<part name="parameters" element="tns:listarColor"/>
</message>
<message name="listarColorResponse">
<part name="parameters" element="tns:listarColorResponse"/>
</message>
<message name="editarPersona">
<part name="parameters" element="tns:editarPersona"/>
</message>
<message name="editarPersonaResponse">
<part name="parameters" element="tns:editarPersonaResponse"/>
</message>
<message name="listarDiseno">
<part name="parameters" element="tns:listarDiseno"/>
</message>
<message name="listarDisenoResponse">
<part name="parameters" element="tns:listarDisenoResponse"/>
</message>
<message name="listarAlmacen">
<part name="parameters" element="tns:listarAlmacen"/>
</message>
<message name="listarAlmacenResponse">
<part name="parameters" element="tns:listarAlmacenResponse"/>
</message>
<message name="editarTela">
<part name="parameters" element="tns:editarTela"/>
</message>
<message name="editarTelaResponse">
<part name="parameters" element="tns:editarTelaResponse"/>
</message>
<message name="addMuestra">
<part name="parameters" element="tns:addMuestra"/>
</message>
<message name="addMuestraResponse">
<part name="parameters" element="tns:addMuestraResponse"/>
</message>
<message name="eliminarCosto">
<part name="parameters" element="tns:eliminarCosto"/>
</message>
<message name="eliminarCostoResponse">
<part name="parameters" element="tns:eliminarCostoResponse"/>
</message>
<message name="listarCosto">
<part name="parameters" element="tns:listarCosto"/>
</message>
<message name="listarCostoResponse">
<part name="parameters" element="tns:listarCostoResponse"/>
</message>
<message name="listarMuestra">
<part name="parameters" element="tns:listarMuestra"/>
</message>
<message name="listarMuestraResponse">
<part name="parameters" element="tns:listarMuestraResponse"/>
</message>
<message name="listarTelas">
<part name="parameters" element="tns:listarTelas"/>
</message>
<message name="listarTelasResponse">
<part name="parameters" element="tns:listarTelasResponse"/>
</message>
<message name="buscarTela">
<part name="parameters" element="tns:buscarTela"/>
</message>
<message name="buscarTelaResponse">
<part name="parameters" element="tns:buscarTelaResponse"/>
</message>
<message name="eliminarPersona">
<part name="parameters" element="tns:eliminarPersona"/>
</message>
<message name="eliminarPersonaResponse">
<part name="parameters" element="tns:eliminarPersonaResponse"/>
</message>
<message name="registrarRollo">
<part name="parameters" element="tns:registrarRollo"/>
</message>
<message name="registrarRolloResponse">
<part name="parameters" element="tns:registrarRolloResponse"/>
</message>
<message name="buscarAlmacen">
<part name="parameters" element="tns:buscarAlmacen"/>
</message>
<message name="buscarAlmacenResponse">
<part name="parameters" element="tns:buscarAlmacenResponse"/>
</message>
<message name="registrarPersona">
<part name="parameters" element="tns:registrarPersona"/>
</message>
<message name="registrarPersonaResponse">
<part name="parameters" element="tns:registrarPersonaResponse"/>
</message>
<message name="listarPersona">
<part name="parameters" element="tns:listarPersona"/>
</message>
<message name="listarPersonaResponse">
<part name="parameters" element="tns:listarPersonaResponse"/>
</message>
<message name="addDetalle">
<part name="parameters" element="tns:addDetalle"/>
</message>
<message name="addDetalleResponse">
<part name="parameters" element="tns:addDetalleResponse"/>
</message>
<message name="editarRollo">
<part name="parameters" element="tns:editarRollo"/>
</message>
<message name="editarRolloResponse">
<part name="parameters" element="tns:editarRolloResponse"/>
</message>
<message name="buscarRollo">
<part name="parameters" element="tns:buscarRollo"/>
</message>
<message name="buscarRolloResponse">
<part name="parameters" element="tns:buscarRolloResponse"/>
</message>
<message name="eliminarRollo">
<part name="parameters" element="tns:eliminarRollo"/>
</message>
<message name="eliminarRolloResponse">
<part name="parameters" element="tns:eliminarRolloResponse"/>
</message>
<message name="listarRollo">
<part name="parameters" element="tns:listarRollo"/>
</message>
<message name="listarRolloResponse">
<part name="parameters" element="tns:listarRolloResponse"/>
</message>
<message name="registrarNota">
<part name="parameters" element="tns:registrarNota"/>
</message>
<message name="registrarNotaResponse">
<part name="parameters" element="tns:registrarNotaResponse"/>
</message>
<message name="getDetalle">
<part name="parameters" element="tns:getDetalle"/>
</message>
<message name="getDetalleResponse">
<part name="parameters" element="tns:getDetalleResponse"/>
</message>
<portType name="Service_SOA">
<operation name="listarPersonaCliente">
<input wsam:Action="http://servicio/Service_SOA/listarPersonaClienteRequest" message="tns:listarPersonaCliente"/>
<output wsam:Action="http://servicio/Service_SOA/listarPersonaClienteResponse" message="tns:listarPersonaClienteResponse"/>
</operation>
<operation name="listarPersonaEmpleado">
<input wsam:Action="http://servicio/Service_SOA/listarPersonaEmpleadoRequest" message="tns:listarPersonaEmpleado"/>
<output wsam:Action="http://servicio/Service_SOA/listarPersonaEmpleadoResponse" message="tns:listarPersonaEmpleadoResponse"/>
</operation>
<operation name="listarPersonaProveedor">
<input wsam:Action="http://servicio/Service_SOA/listarPersonaProveedorRequest" message="tns:listarPersonaProveedor"/>
<output wsam:Action="http://servicio/Service_SOA/listarPersonaProveedorResponse" message="tns:listarPersonaProveedorResponse"/>
</operation>
<operation name="buscarDiseno">
<input wsam:Action="http://servicio/Service_SOA/buscarDisenoRequest" message="tns:buscarDiseno"/>
<output wsam:Action="http://servicio/Service_SOA/buscarDisenoResponse" message="tns:buscarDisenoResponse"/>
</operation>
<operation name="registrarAlmacen">
<input wsam:Action="http://servicio/Service_SOA/registrarAlmacenRequest" message="tns:registrarAlmacen"/>
<output wsam:Action="http://servicio/Service_SOA/registrarAlmacenResponse" message="tns:registrarAlmacenResponse"/>
</operation>
<operation name="registarColor">
<input wsam:Action="http://servicio/Service_SOA/registarColorRequest" message="tns:registarColor"/>
<output wsam:Action="http://servicio/Service_SOA/registarColorResponse" message="tns:registarColorResponse"/>
</operation>
<operation name="eliminarDiseno">
<input wsam:Action="http://servicio/Service_SOA/eliminarDisenoRequest" message="tns:eliminarDiseno"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarDisenoResponse" message="tns:eliminarDisenoResponse"/>
</operation>
<operation name="buscarColor">
<input wsam:Action="http://servicio/Service_SOA/buscarColorRequest" message="tns:buscarColor"/>
<output wsam:Action="http://servicio/Service_SOA/buscarColorResponse" message="tns:buscarColorResponse"/>
</operation>
<operation name="addCosto">
<input wsam:Action="http://servicio/Service_SOA/addCostoRequest" message="tns:addCosto"/>
<output wsam:Action="http://servicio/Service_SOA/addCostoResponse" message="tns:addCostoResponse"/>
</operation>
<operation name="editarAlmacen">
<input wsam:Action="http://servicio/Service_SOA/editarAlmacenRequest" message="tns:editarAlmacen"/>
<output wsam:Action="http://servicio/Service_SOA/editarAlmacenResponse" message="tns:editarAlmacenResponse"/>
</operation>
<operation name="eliminarColor">
<input wsam:Action="http://servicio/Service_SOA/eliminarColorRequest" message="tns:eliminarColor"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarColorResponse" message="tns:eliminarColorResponse"/>
</operation>
<operation name="editarDiseno">
<input wsam:Action="http://servicio/Service_SOA/editarDisenoRequest" message="tns:editarDiseno"/>
<output wsam:Action="http://servicio/Service_SOA/editarDisenoResponse" message="tns:editarDisenoResponse"/>
</operation>
<operation name="registrarTela">
<input wsam:Action="http://servicio/Service_SOA/registrarTelaRequest" message="tns:registrarTela"/>
<output wsam:Action="http://servicio/Service_SOA/registrarTelaResponse" message="tns:registrarTelaResponse"/>
</operation>
<operation name="eliminarMuestra">
<input wsam:Action="http://servicio/Service_SOA/eliminarMuestraRequest" message="tns:eliminarMuestra"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarMuestraResponse" message="tns:eliminarMuestraResponse"/>
</operation>
<operation name="eliminarTela">
<input wsam:Action="http://servicio/Service_SOA/eliminarTelaRequest" message="tns:eliminarTela"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarTelaResponse" message="tns:eliminarTelaResponse"/>
</operation>
<operation name="buscarPersona">
<input wsam:Action="http://servicio/Service_SOA/buscarPersonaRequest" message="tns:buscarPersona"/>
<output wsam:Action="http://servicio/Service_SOA/buscarPersonaResponse" message="tns:buscarPersonaResponse"/>
</operation>
<operation name="registrarDiseno">
<input wsam:Action="http://servicio/Service_SOA/registrarDisenoRequest" message="tns:registrarDiseno"/>
<output wsam:Action="http://servicio/Service_SOA/registrarDisenoResponse" message="tns:registrarDisenoResponse"/>
</operation>
<operation name="editarColor">
<input wsam:Action="http://servicio/Service_SOA/editarColorRequest" message="tns:editarColor"/>
<output wsam:Action="http://servicio/Service_SOA/editarColorResponse" message="tns:editarColorResponse"/>
</operation>
<operation name="eliminarAlmacen">
<input wsam:Action="http://servicio/Service_SOA/eliminarAlmacenRequest" message="tns:eliminarAlmacen"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarAlmacenResponse" message="tns:eliminarAlmacenResponse"/>
</operation>
<operation name="listarColor">
<input wsam:Action="http://servicio/Service_SOA/listarColorRequest" message="tns:listarColor"/>
<output wsam:Action="http://servicio/Service_SOA/listarColorResponse" message="tns:listarColorResponse"/>
</operation>
<operation name="editarPersona">
<input wsam:Action="http://servicio/Service_SOA/editarPersonaRequest" message="tns:editarPersona"/>
<output wsam:Action="http://servicio/Service_SOA/editarPersonaResponse" message="tns:editarPersonaResponse"/>
</operation>
<operation name="listarDiseno">
<input wsam:Action="http://servicio/Service_SOA/listarDisenoRequest" message="tns:listarDiseno"/>
<output wsam:Action="http://servicio/Service_SOA/listarDisenoResponse" message="tns:listarDisenoResponse"/>
</operation>
<operation name="listarAlmacen">
<input wsam:Action="http://servicio/Service_SOA/listarAlmacenRequest" message="tns:listarAlmacen"/>
<output wsam:Action="http://servicio/Service_SOA/listarAlmacenResponse" message="tns:listarAlmacenResponse"/>
</operation>
<operation name="editarTela">
<input wsam:Action="http://servicio/Service_SOA/editarTelaRequest" message="tns:editarTela"/>
<output wsam:Action="http://servicio/Service_SOA/editarTelaResponse" message="tns:editarTelaResponse"/>
</operation>
<operation name="addMuestra">
<input wsam:Action="http://servicio/Service_SOA/addMuestraRequest" message="tns:addMuestra"/>
<output wsam:Action="http://servicio/Service_SOA/addMuestraResponse" message="tns:addMuestraResponse"/>
</operation>
<operation name="eliminarCosto">
<input wsam:Action="http://servicio/Service_SOA/eliminarCostoRequest" message="tns:eliminarCosto"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarCostoResponse" message="tns:eliminarCostoResponse"/>
</operation>
<operation name="listarCosto">
<input wsam:Action="http://servicio/Service_SOA/listarCostoRequest" message="tns:listarCosto"/>
<output wsam:Action="http://servicio/Service_SOA/listarCostoResponse" message="tns:listarCostoResponse"/>
</operation>
<operation name="listarMuestra">
<input wsam:Action="http://servicio/Service_SOA/listarMuestraRequest" message="tns:listarMuestra"/>
<output wsam:Action="http://servicio/Service_SOA/listarMuestraResponse" message="tns:listarMuestraResponse"/>
</operation>
<operation name="listarTelas">
<input wsam:Action="http://servicio/Service_SOA/listarTelasRequest" message="tns:listarTelas"/>
<output wsam:Action="http://servicio/Service_SOA/listarTelasResponse" message="tns:listarTelasResponse"/>
</operation>
<operation name="buscarTela">
<input wsam:Action="http://servicio/Service_SOA/buscarTelaRequest" message="tns:buscarTela"/>
<output wsam:Action="http://servicio/Service_SOA/buscarTelaResponse" message="tns:buscarTelaResponse"/>
</operation>
<operation name="eliminarPersona">
<input wsam:Action="http://servicio/Service_SOA/eliminarPersonaRequest" message="tns:eliminarPersona"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarPersonaResponse" message="tns:eliminarPersonaResponse"/>
</operation>
<operation name="registrarRollo">
<input wsam:Action="http://servicio/Service_SOA/registrarRolloRequest" message="tns:registrarRollo"/>
<output wsam:Action="http://servicio/Service_SOA/registrarRolloResponse" message="tns:registrarRolloResponse"/>
</operation>
<operation name="buscarAlmacen">
<input wsam:Action="http://servicio/Service_SOA/buscarAlmacenRequest" message="tns:buscarAlmacen"/>
<output wsam:Action="http://servicio/Service_SOA/buscarAlmacenResponse" message="tns:buscarAlmacenResponse"/>
</operation>
<operation name="registrarPersona">
<input wsam:Action="http://servicio/Service_SOA/registrarPersonaRequest" message="tns:registrarPersona"/>
<output wsam:Action="http://servicio/Service_SOA/registrarPersonaResponse" message="tns:registrarPersonaResponse"/>
</operation>
<operation name="listarPersona">
<input wsam:Action="http://servicio/Service_SOA/listarPersonaRequest" message="tns:listarPersona"/>
<output wsam:Action="http://servicio/Service_SOA/listarPersonaResponse" message="tns:listarPersonaResponse"/>
</operation>
<operation name="addDetalle">
<input wsam:Action="http://servicio/Service_SOA/addDetalleRequest" message="tns:addDetalle"/>
<output wsam:Action="http://servicio/Service_SOA/addDetalleResponse" message="tns:addDetalleResponse"/>
</operation>
<operation name="editarRollo">
<input wsam:Action="http://servicio/Service_SOA/editarRolloRequest" message="tns:editarRollo"/>
<output wsam:Action="http://servicio/Service_SOA/editarRolloResponse" message="tns:editarRolloResponse"/>
</operation>
<operation name="buscarRollo">
<input wsam:Action="http://servicio/Service_SOA/buscarRolloRequest" message="tns:buscarRollo"/>
<output wsam:Action="http://servicio/Service_SOA/buscarRolloResponse" message="tns:buscarRolloResponse"/>
</operation>
<operation name="eliminarRollo">
<input wsam:Action="http://servicio/Service_SOA/eliminarRolloRequest" message="tns:eliminarRollo"/>
<output wsam:Action="http://servicio/Service_SOA/eliminarRolloResponse" message="tns:eliminarRolloResponse"/>
</operation>
<operation name="listarRollo">
<input wsam:Action="http://servicio/Service_SOA/listarRolloRequest" message="tns:listarRollo"/>
<output wsam:Action="http://servicio/Service_SOA/listarRolloResponse" message="tns:listarRolloResponse"/>
</operation>
<operation name="registrarNota">
<input wsam:Action="http://servicio/Service_SOA/registrarNotaRequest" message="tns:registrarNota"/>
<output wsam:Action="http://servicio/Service_SOA/registrarNotaResponse" message="tns:registrarNotaResponse"/>
</operation>
<operation name="getDetalle">
<input wsam:Action="http://servicio/Service_SOA/getDetalleRequest" message="tns:getDetalle"/>
<output wsam:Action="http://servicio/Service_SOA/getDetalleResponse" message="tns:getDetalleResponse"/>
</operation>
</portType>
<binding name="Service_SOAPortBinding" type="tns:Service_SOA">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarPersonaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPersonaEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPersonaProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDiseno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarAlmacen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registarColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDiseno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCosto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarAlmacen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarDiseno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarTela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarMuestra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarTela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarDiseno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarAlmacen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDiseno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarAlmacen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarTela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMuestra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCosto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCosto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMuestra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarRollo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAlmacen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarRollo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRollo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarRollo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarRollo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service_SOA">
<port name="Service_SOAPort" binding="tns:Service_SOAPortBinding">
<soap:address location="http://localhost:8080/Service_Almacen_Venta_SOA/Service_SOA"/>
</port>
</service>
</definitions>