Service_Almacen_Venta_SOA/SoaAlmacenVenta_0020.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://servicio/" name="Soa_Almacen_Venta " xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicio/" schemaLocation="SoaAlmacenVenta_0020_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registrarAlmacen">
    <part name="parameters" element="tns:registrarAlmacen"/>
  </message>
  <message name="registrarAlmacenResponse">
    <part name="parameters" element="tns:registrarAlmacenResponse"/>
  </message>
  <message name="listarAlmacen">
    <part name="parameters" element="tns:listarAlmacen"/>
  </message>
  <message name="listarAlmacenResponse">
    <part name="parameters" element="tns:listarAlmacenResponse"/>
  </message>
  <message name="editarAlmacen">
    <part name="parameters" element="tns:editarAlmacen"/>
  </message>
  <message name="editarAlmacenResponse">
    <part name="parameters" element="tns:editarAlmacenResponse"/>
  </message>
  <message name="buscarAlmacen">
    <part name="parameters" element="tns:buscarAlmacen"/>
  </message>
  <message name="buscarAlmacenResponse">
    <part name="parameters" element="tns:buscarAlmacenResponse"/>
  </message>
  <message name="eliminarAlmacen">
    <part name="parameters" element="tns:eliminarAlmacen"/>
  </message>
  <message name="eliminarAlmacenResponse">
    <part name="parameters" element="tns:eliminarAlmacenResponse"/>
  </message>
  <portType name="Soa_Almacen_Venta">
    <operation name="registrarAlmacen">
      <input wsam:Action="http://servicio/Soa_Almacen_Venta/registrarAlmacenRequest" message="tns:registrarAlmacen"/>
      <output wsam:Action="http://servicio/Soa_Almacen_Venta/registrarAlmacenResponse" message="tns:registrarAlmacenResponse"/>
    </operation>
    <operation name="listarAlmacen">
      <input wsam:Action="http://servicio/Soa_Almacen_Venta/listarAlmacenRequest" message="tns:listarAlmacen"/>
      <output wsam:Action="http://servicio/Soa_Almacen_Venta/listarAlmacenResponse" message="tns:listarAlmacenResponse"/>
    </operation>
    <operation name="editarAlmacen">
      <input wsam:Action="http://servicio/Soa_Almacen_Venta/editarAlmacenRequest" message="tns:editarAlmacen"/>
      <output wsam:Action="http://servicio/Soa_Almacen_Venta/editarAlmacenResponse" message="tns:editarAlmacenResponse"/>
    </operation>
    <operation name="buscarAlmacen">
      <input wsam:Action="http://servicio/Soa_Almacen_Venta/buscarAlmacenRequest" message="tns:buscarAlmacen"/>
      <output wsam:Action="http://servicio/Soa_Almacen_Venta/buscarAlmacenResponse" message="tns:buscarAlmacenResponse"/>
    </operation>
    <operation name="eliminarAlmacen">
      <input wsam:Action="http://servicio/Soa_Almacen_Venta/eliminarAlmacenRequest" message="tns:eliminarAlmacen"/>
      <output wsam:Action="http://servicio/Soa_Almacen_Venta/eliminarAlmacenResponse" message="tns:eliminarAlmacenResponse"/>
    </operation>
  </portType>
  <binding name="Soa_Almacen_VentaPortBinding" type="tns:Soa_Almacen_Venta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="registrarAlmacen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarAlmacen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editarAlmacen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarAlmacen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarAlmacen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Soa_Almacen_Venta ">
    <port name="Soa_Almacen_VentaPort" binding="tns:Soa_Almacen_VentaPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

